@{
    ViewBag.Title = "";
}

<div class="wrap breadcrumbs">

    <a href="/NewLifescan/Home">首页</a>
    <span class="gt">&gt;</span>
    <span>找回密码</span>

</div>
<!-- //breadcrumbs -->
<div class="wrap form retrievePW">

		<div class="regSuccess">
			<p class="p0">重置密码</p>
			<div class="recLinks">
                <p>已经向您的注册邮箱 @ViewBag.email 上发送了一封邮件，请您登录邮箱继续完成密码重置。</p>
                <p>谢谢您的支持！</p>
            </div>
		</div>
        
	</div>
<!-- //form -->


