@{
    ViewBag.Title = "SetPWDByToken";
}
<div class="wrap breadcrumbs">

    <a href="/NewLifescan/Home">首页</a>
    <span class="gt">&gt;</span>
    <span>找回密码</span>

</div>
<!-- //breadcrumbs -->

<div class="wrap form retrievePW">

		<div class="regSuccess">
			<p class="p0">重置密码</p>
			<div class="recLinks">
                <p>您的密码设置成功！您现在可以使用新密码登录啦！</p>
                <p>谢谢您的支持！</p>
            </div>
		</div>
        
	</div>
<!-- //form -->
